:root{
  --back-color: linear-gradient(100deg, #575757, #141E30);
  --prim-color:#292828;
  --sec-color:#DCDCDC;
  --ter-color:#92EC67;
}
body{
  margin: 0;
  padding: 20px;
  background-color: var(--back-color);
  font-family: 'Jaldi';
  font-size: 22px;
}
h1, h2{
  margin: 0;
  border: 3px solid pink;
}
