:root{
  --back-color: linear-gradient(#ffffff, #DCDCDC);
  --prim-color:#292828;
  --sec-color:#DCDCDC;
  --ter-color:#53c244;
  --cont-pad: 60px;
  --box-size: 400px;
}
body{
  padding: var(--cont-pad);
  background: var(--back-color, black);
  font-family: 'Jaldi';
  font-size: 22px;
  margin-top: 200px;
}
h1{
  font-size: 100px;
  margin: 0;
}
.top-header{
  margin-bottom: 300px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  top: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  background-color: var(--prim-color, black);
  width: 100%;
  height: 50px;
}
li{
  float: left;
}
a{
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  display: block;
}
a:hover{
  color: var(--ter-color);
}
li a{
  display: block;
  color: var(--second-color, white);
  text-align: center;
  text-decoration: none; 
  padding-top: 8px;
  padding-left: 10px;
  font-size: 25px;
  letter-spacing: 2px;
}
li img{
  width: 60px;
  height: 60px;
}
.intro{
  width: 90%;
  height: 500px;
  background-image: url('../bvasquez07.github.io/images/me.png');
  background-position: right;
  background-size: 400px 500px;
  background-repeat: no-repeat;
  
}
.intro p{
  width: 30%;
  margin: 0;
  position: behind;
  font-size: 20px;
}
article{
  width: 80%;
  margin-right: 0px;
}
#projects article .proj{
  width: 100px;
  margin-left: 50px;
  margin-right: 50px;
  height: 300px;
  padding: 20px;
  border: 2px solid var(--sec-color);
  float: right;
}

#projects article {
  height: 400px;
}

h2{
  margin: 0;
}
#projects{
}
section, #projects{
  margin-bottom: 100px;
  padding: var(--cont-pad);
  background-color: var(--ter-color);
  border-radius: 10px;
}

footer{
  font-size: small;
  width: 100px;
}
.contacts{
  height: 20px;
  width: 20px;
}

