:root{
  --back-color: linear-gradient(#ffffff, #DCDCDC);
  --prim-color:#292828;
  --sec-color:#DCDCDC;
  --ter-color:#53c244;
  --cont-pad: 60px;
  --box-size: 400px;
}

body{
  padding: var(--cont-pad);
  background: var(--back-color, black);
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 22px;
  margin-top: 200px;
}
h1{
  font-size: 100px;
  margin: 0;
}
p, h3{
  line-height: 30px;
  text-align: left;
}
.top-header{
  margin-bottom: 600px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  position: fixed;
  background-color: var(--prim-color, black);
  width: 100%;
  height: 50px;
  z-index: 1;
}
li{
  float: left;
}
.top-nav{
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-shrink: 1;
}
.top-nav:hover{
  color: var(--ter-color);
}
li a{
  display: flex;
  color: var(--second-color, white);
  text-align: center;
  text-decoration: none; 
  padding-top: 15px;
  padding-left: 10px;
  font-size: 25px;
  letter-spacing: 2px;
}
li img{
  width: 60px;
  height: 60px;
}
.intro{
  width: 95%;
  height: 500px;
  background-image: url('./images/me.png');
  background-position: right;
  background-size: 400px 500px;
  background-repeat: no-repeat;
  
}
.intro p{
  width: 30%;
  margin: 0;
  font-size: 20px;
  line-height: 30px;
}
article{
  padding-left: 90px;
}
#projects article .proj, #experience article .exp{
  width: 280px;
  height: 530px;
  margin: 50px;
  padding: 20px;
  border: 4px solid var(--prim-color);
  border-radius: 15px;
  float: left;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--prim-color);
  transition: all 1s, .7s;;
  text-align: center;
  opacity: 0.8;
}
#projects article .proj1{
  background-image: url('./images/analyis.png');
  background-position: center top;
  background-size: 350px 300px;
  background-repeat: no-repeat;
}
#projects article .proj2{
  background-image: url('./images/logo128.png');
  background-position: center top;
  background-size: 320px 300px;
  background-repeat: no-repeat;
}
#projects article .proj3{
  background-image: url('./images/pc.jpg');
  background-position: center top;
  background-size: 320px 300px;
  background-repeat: no-repeat;
}
#experience article .exp1{
  background-image: url('./images/analyis.png');
  background-position: center top;
  background-size: 350px 300px;
  background-repeat: no-repeat;
}
#experience article .exp2{
  background-image: url('./images/constr.png');
  background-position: center top;
  background-size: 320px 300px;
  background-repeat: no-repeat;
}
#experience article .exp3{
  background-image: url('./images/constr.png');
  background-position: center top;
  background-size: 320px 300px;
  background-repeat: no-repeat;
}
#projects article .proj h3, #projects article .proj p, #experience article .exp h3, #experience article .exp p{
  position: relative;
  top: 280px;
  color: var(--sec-color);
  overflow: hidden;
}
#projects article .proj p, #experience article .exp p{
  font-size: 16px;
}

#projects article .proj:hover, #experience article .exp:hover{
  border-color: var(--sec-color);
  opacity: 1;
}

#projects article, #experience article{
  height: inherit;
}

h2{
  margin: 0;
  font-size: 45px;
}
section{
  overflow: hidden;
  margin-bottom: 100px;
  padding: var(--cont-pad);
  border-radius: 10px;
}

#projects, #experience{
  background-color: var(--ter-color);
  width: 90%;
}
#projects article, #experience article{
  margin-left: 15%;
}
#about-me{
  border-top: 2px solid var(--ter-color);
  border-bottom: 2px solid var(--ter-color);
  border-radius: 0px;
  text-align: center;
  margin-right: 0;
  line-height: 30px;
}
#education{
  border-top: 2px solid var(--ter-color);
  border-radius: 0px;
  text-align: center;
  margin-right: 0;
  line-height: 30px;
}

.email{
  text-align: center;
  font-size: small;
  float: left;
  margin: 0;
  padding-left: 20px;
}
footer{
  border-top: 1px solid var(--prim-color);
  width: 50%;
  padding: 30px;
  opacity: 0.6;
  left: 22%;
  position: relative;

  
}
.contacts img{
  float: left;
  height: 20px;
  width: 20px;
}
.contacts-contain{
  position: relative;
  left: 40%;
}

